.nepap { 
  border-left-width: 21px;
  padding-bottom: 60px;
  padding-left: 50px;
  font-size: 92px;
  font-size: 92px;
  border-left-width: 5px;
  line-height: 83px;
  margin-top: 57px;
  padding-top: 87px;
  margin-bottom: 16px;
  padding-top: 73px;
}
